@charset "ISO-8859-1";

body {
	background-color : ghostwhite;
}

a {
	text-decoration : none;
}

.w3-left-margin-200 {
	margin-left: 200px;
}

@media (max-width:600px) {

	.w3-hide-small-content-shift {
	margin-left: 0px !important
	}
	
}


.w3-custom-teal-fg {
	color : #00bfa5;
}

.w3-custom-teal-bg {
	background-color : #00bfa5;
	color : white;
}

.w3-oxygen {
	font-family: 'Oxygen', sans-serif;
}

.w3-lobster {
	font-family: 'Lobster', sans-serif;
}