@charset "ISO-8859-1";

html {
	margin: 0px;
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	background-color : #2b3140 !important;
	color : white !important;
	font-family: 'Oxygen', sans-serif !important;
}

html,
body,
#intro {
	height: 100%;
}

#intro {
    background: url("/images/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
	box-shadow: none !important;
}

.bg-color {
	background-color : #2b3140;
}

.bg-transparent {
	background-color: transparent !important;
}

a {
	text-decoration : none;
}

.w3-left-margin-200 {
	margin-left: 200px;
}

@media (max-width:600px) {

	.w3-hide-small-content-shift {
	margin-left: 0px !important
	}
	.hide {
		display: none;
	}
	
}

@media (min-width: 600px) {
	.form-size {
		width: 500px;
		
	}
}

.teal-fg {
	color : #00bfa5;
}

.teal-bg {
	background-color : #00bfa5;
	color : white;
}

.font-oxygen {
	font-family: 'Oxygen', sans-serif;
}

.font-lobster {
	font-family: 'Lobster', sans-serif;
}

/* Loading Screen Styling */

.loading-screen {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	background-color: #4BEDC2;
	width: 100%;
	height: 100%;
	transform: scaleY(0) skewX(0);
	transform-origin: top left;
	text-align: center;
}

.loading-screen-logo {
	height: 20vh;
	margin-top: 40vh;
}

.loading-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 10;
	pointer-events: none;
}

.modal-header, .bootbox-body {
	color: black !important;
}

.inner {
position: relative;
  
}
.outer {
  border-bottom: 1px solid rgba(0,0,0,.1);
  overflow: hidden;
}