@charset "ISO-8859-1";

#footer {
	background-color : #336699;
	height : 5vh;
	text-align : center;
}

#footer_content {
	height : 5vh;
	width : 100%;
	line-height : 5vh;
	color : white;
	text-align : center;
	font-family : 'Oxygen', sans-serif;
}