@charset "ISO-8859-1";

#image {
	width : 300px;
	height : 300px;
	position : relative;
	left : 5%;
	top : 30px;
}

hr {
	width : 60%;
}

p {
	display : inline-block;
	font-size : 20pt;
	width : 60%;
}