<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/basic.css}">
	<link rel="stylesheet" th:href="@{/css/w3.css}">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu|Oxygen|Lobster&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	
	<title th:if="${currentPage == 'adminPanel'}">Admin Panel</title>
	<title th:if="${currentPage == 'userFeedback'}">User Feedbacks</title>

</head>

<body class="w3-oxygen">

	<div class="w3-sidebar w3-bar-block w3-center w3-animate-left w3-dark-grey w3-hide-small w3-mobile" style="padding-top: 100px">
		<a href="/admin/list-users" class="w3-bar-item w3-button w3-padding-16 w3-mobile">List Users</a>
		<a href="/admin/userFeedback" class="w3-bar-item w3-button w3-padding-16 w3-mobile">Feedbacks</a>
	</div>

	<span th:replace="includes :: header"></span>
		
	<!--
		List users
	  -->

	<div th:if="${currentPage == 'adminPanel'}" class="w3-container w3-section w3-mobile w3-large w3-hide-small-content-shift w3-left-margin-200" >
		<table class="w3-center w3-table w3-striped w3-hoverable" style="table-layout: fixed;">
			<tr th:each="user : ${users}" class="w3-row" style="word-break: break-all;">
				<td th:text="${user.id}" class="w3-padding w3-animate-opacity w3-col m1 s1"/>
				<td th:text="${user.username}" class="w3-padding w3-animate-opacity w3-col m3 s3"/>
				<td th:text="${user.email}" class="w3-padding w3-animate-opacity w3-col m6 s6" />
				<td class="w3-padding w3-animate-opacity w3-col m1 s1"><a th:href="@{/admin/manage-role(id=${user.id})}" class="fa fa-edit"></a></td>
				<td class="w3-padding w3-animate-opacity w3-col m1 s1"><a th:href="@{/admin/delete-user(id=${user.id})}" class="fa fa-trash"></a></td>
			</tr>
		</table>
	</div>

	<!--
		User Feedback
	  -->
	
	<div th:if="${currentPage == 'userFeedback'}" class="w3-container w3-section w3-mobile w3-large w3-hide-small-content-shift w3-left-margin-200">
		<table class="w3-center w3-table w3-striped w3-hoverable" style="table-layout: fixed;">
			<tr th:each="feedback : ${feedbacks}" class="w3-row" style="word-break: break-all;">
				<td th:text="${feedback.id}" class="w3-padding w3-animate-opacity w3-col m1 s1"/>
				<td th:text="${feedback.message}" class="w3-padding w3-animate-opacity w3-col m10 s10"/>
				<td class="w3-padding w3-animate-opacity w3-col m1 s1"><a th:href="@{/admin/delete-feedback(id=${feedback.id})}" class="fa fa-trash"></a></td>
			</tr>
		</table>
	</div>
</body>
</html>