<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/basic.css}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu|Oxygen|Lobster&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<title>Admin Panel</title>

</head>

<body class="w3-oxygen">

	<div id="nav" class="w3-bar w3-large w3-container w3-teal w3-display-top w3-mobile w3-card-4">
		<section class="w3-bar-item w3-left w3-lobster w3-xlarge w3-mobile">SaveYourWork</section>
		<a href="logout" class="w3-bar-item w3-button w3-right w3-padding-16 w3-hover-amber w3-mobile">Logout</a>
		<a href="/" class="w3-bar-item w3-button w3-right w3-padding-16 w3-hover-amber w3-mobile">Home</a>
		<a href="file-home" class="w3-bar-item w3-button w3-right w3-padding-16 w3-hover-amber w3-mobile">My Files</a>
		<a class="w3-bar-item w3-right w3-padding-16 w3-mobile">Welcome, [[${#authentication.name}]]</a>
	</div>
	
	<div class="w3-bar w3-pale-green w3-container w3-display-top w3-mobile" style="overflow:hidden">
		<a href="list-users" class="w3-bar-item w3-button w3-padding w3-hover-amber w3-left w3-mobile">All Users</a>
		<a href="manage-roles" class="w3-bar-item w3-button w3-padding w3-hover-amber w3-left w3-mobile">Assign Role</a>
	</div>

	<div class="w3-container w3-mobile w3-xlarge">
		<table class="w3-center" style="margin:auto;width:100%">
			<tr>
				<th class="w3-blue-grey w3-padding w3-animate-opacity">Id</th>
				<th class="w3-blue-grey w3-padding w3-animate-opacity">Username</th>
				<th class="w3-blue-grey w3-padding w3-animate-opacity">Email</th>
				<th class="w3-blue-grey w3-padding w3-animate-opacity">Role</th>
				<th class="w3-blue-grey w3-padding w3-animate-opacity">Remove</th>
			</tr>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}" class="w3-light-grey w3-padding w3-animate-opacity"/>
				<td th:text="${user.username}" class="w3-light-grey w3-padding w3-animate-opacity"/>
				<td th:text="${user.email}" class="w3-light-grey w3-padding w3-animate-opacity"/>
				<td class="w3-light-grey w3-padding w3-animate-opacity"><a th:href="@{/manage-role(id=${user.id})}" class="fa fa-edit"></a></td>
				<td class="w3-light-grey w3-padding w3-animate-opacity"><a th:href="@{/delete-user(id=${user.id})}" class="fa fa-trash"></a></td>
			</tr>
		</table>
	</div>
</body>
</html>