<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<span th:replace="includes :: links"></span>
	<script type="text/javascript" src="/js/indexAnim.js"></script>
	
	<style type="text/css">
		.mySlides {display:none;}
		header {
			background: transparent !important;
		}
	</style>

	<title>HOME</title>
	
</head>

<body>
		
	<span th:replace="includes :: trans"></span>
		
	<div id="intro" class="view">
	
	<span th:replace="includes :: header"></span>

		<div class="mask rgba-black-dark">

			<div class="container-fluid d-flex align-items-center justify-content-center h-100">

				<div class="row d-flex justify-content-center text-center">

					<div class="mySlides col-md-10 animated fadeInUp slow">

						<!-- Heading -->
						<img class="animated flip fast delay-1s m-auto" th:src="@{/images/files.svg}" height="180px" width="180px" />

						<!-- Divider -->
						<hr class="hr-light">

						<!-- Description -->
						<h3 class="white-text my-4 scramble">SaveYourWork provides a <b>Convenient</b> & <b>Secure</b> File Sharing Service.</h3>
						<a href="#about" class="btn cloudy-knoxville-gradient text-dark">Read more<i class="fa fa-book ml-2"></i></a>

					</div>
					<div class="mySlides col-md-10 animated fadeInUp slow">

						<!-- Heading -->
						<img class="animated flip fast delay-1s m-auto" th:src="@{/images/share.svg}" height="180px" width="180px" />

						<!-- Divider -->
						<hr class="hr-light">

						<!-- Description -->
						<h3 class="white-text my-4 scramble">Upload your files and be able to access them from anywhere in the world, with ease.</h3>
						<a href="#about" class="btn cloudy-knoxville-gradient text-dark">Read more<i class="fa fa-book ml-2"></i></a>

					</div>

					<script>
						var slideIndex = 0;
						carousel();
						
						function carousel() {
							scramble();
							var i;
							var x = document.getElementsByClassName("mySlides");
							for (i = 0; i < x.length; i++) {
								x[i].style.display = "none"; 
							}
							slideIndex++;
							if (slideIndex > x.length) {slideIndex = 1} 
							x[slideIndex-1].style.display = "block"; 
							setTimeout(carousel, 4000); 
						}
					</script>
				</div>
			</div>
		</div>
	</div>

	<main class="bg-white">
		<div id="appPromo" class="container-fluid">
			<!-- APP PROMO  -->
			<section class="row d-flex justify-content-center text-center text-dark p-5" style="min-height: 100vh;">
				<div class="col-md-6 m-auto">
					<img id="imgApp" class="img-fluid" alt="" th:src="@{/images/DrawerAndFilesWebsite.svg}">
				</div>
				
				<div class="col-md-6 m-auto view overlay">
					<p class="h1-responsive stag"><span class="font-lobster teal-fg">“SaveYourWork”</span> for Android</p>
					<p class="h6-responsive stag" style="line-height: 40px">As a Multi-Platform service, <br>Our Official SaveYourWork Application  is now available for all the Android Devices.</p>
					<a class="btn purple-gradient m-2 stag">Download</a>
				</div>
			</section>
		</div>

		<!-- BLACK BAR -->
		<section class="aqua-gradient text-white p-4 text-center">
				<h3 id="quote">Access your account, without much efforts.</h3>
		</section>

		<div id="aboutus" class="container-fluid">
			<!-- ABOUT  -->
			<section class="row d-flex justify-content-center text-center text-dark animate fadeInUp" id="about"  style="min-height: 100vh;">

				<div class="container m-auto p-4">
					<div class="outer my-5">
						<h2 class="inner">About Us</h2>	
						<br>
						<br>
					</div>
					
					<p class="h4-responsive stagger" style="line-height: 60px">
						“SaveYourWork” is an online platform where users can Upload & Download their files from anywhere in the world, at any time. They can write and save Text Documents like creating a simple To-Do List to Saving and Sharing your code with your colleagues and friends, On-The-Go. 
					</p>
					
					<div class="container rounded row d-flex justify-content-center mt-5 mx-auto"	style="width: 200px">
						<a href="https://mobile.twitter.com/moresush48" target="_BLANK" class="icon col-4 fa fa-twitter-square fa-2x text-info animated tada slow delay-1s infinite"></a>
						<a href="https://www.github.com/moresushant48/" target="_BLANK" class="icon col-4 fa fa-github fa-2x text-dark animated tada slow delay-1s infinite"></a>
						<a href="https://www.instagram.com/_moresushant48_/" target="_BLANK" class="icon col-4 fa fa-instagram fa-2x text-danger animated tada slow delay-1s infinite"></a>
					</div>
				</div>
			</section>
		</div>
	</main>
	
	<span th:replace="includes :: footer"></span>
	
</body>
</html>