<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/basic.css}">
	<link rel="stylesheet" th:href="@{/css/w3.css}">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu|Oxygen|Lobster&display=swap" rel="stylesheet">
	
	<title th:if="${currentPage == 'login'}">Log In</title>
	<title th:if="${currentPage == 'forgotUsername'}">Username</title>
	<title th:if="${currentPage == 'forgotPassword'}">Password</title>
	<title th:if="${currentPage == 'newPassword'}">Reset Password</title>
</head>

<body class="w3-oxygen">

	<span th:replace="includes :: header"></span>

	<!--
		Login page
	  -->

	<form th:if="${currentPage == 'login'}" id="login_form" th:action="@{/login}" method="post" class="w3-container w3-section w3-center w3-card w3-white w3-mobile" style="margin:auto;width:400px">
		<div style="padding : 20px;">
			<h2>Login</h2>
			<hr>
	      	<input name="username" tabindex="1" class="w3-input" type="text" placeholder="Username" pattern="[a-zA-Z0-9]{4,14}" title="* Only alphabates (a-z) & digits (0-9) are allowed. * Min 4 & Max 14 characters only." required autofocus>
	      	<a href="/forgotUsername" tabindex="0" class="w3-left w3-margin-bottom w3-text-grey" style="padding: 2px">Forgot Username ?</a>
	      	
	      	<input name="password" tabindex="2" class="w3-input" type="password" placeholder="Password" pattern=".{3,15}" title="* Three or more characters. * Not more than 15 characters allowed." required>
	      	<a href="/forgotPassword" tabindex="0" class="w3-left w3-margin-bottom w3-text-grey" style="padding: 2px">Forgot password ?</a>
	      	
	      	<input tabindex="3" class="w3-input w3-button w3-border w3-border-red" type="submit" value="Submit">
	      	
	      	<div class="w3-panel w3-red" th:if="${param.error}">
	      		<p style="font-size:12pt">Email or Password is invalid.</p>
	      	</div>
      	</div>
    </form>
    
    <!--  
    	forgotUsername Page
    -->
    
    <form th:if="${currentPage == 'forgotUsername'}" th:action="@{/forgotUsername}" method="post" class="w3-container w3-section w3-center w3-card w3-white w3-mobile" style="margin:auto;width:400px">
		<div style="padding : 20px;">
			<h2>Forgot Username</h2>
	      	<hr>
	      	<input name="email" class="w3-input" type="email" placeholder="Email Address" required autofocus>
	      	<br>
	      	<input class="w3-input w3-button w3-border w3-border-red" type="submit" value="Submit">
	      	
	      	<div class="w3-panel w3-green" th:if="${param.found}">
	      		<p style="color:black;font-size:12pt">Credentials are sent to your Email.<br><a href="login" class="w3-text-blue">Please Login</a></p>
      		</div>
	      	<div class="w3-panel w3-red" th:if="${param.notfound}">
	      		<p style="color:black;font-size:12pt">No such Email exists.</p>
	      	</div>
      	</div>
    </form>
    
    <!--  
    	forgotPassword Page
    -->
    
    <form th:if="${currentPage == 'forgotPassword'}" th:action="@{/forgotPassword}" method="post" class="w3-container w3-section w3-center w3-card w3-white w3-mobile" style="margin:auto;width:400px">
		<div style="padding : 20px;">
			<h2>Forgot Password</h2>
	      	<hr>
	      	<input name="email" class="w3-input" type="email" placeholder="Email Address" required autofocus>
	      	<br>
	      	<input class="w3-input w3-button w3-border w3-border-red" type="submit" value="Submit">
	      	
	      	<div class="w3-panel w3-green" th:if="${param.found}">
	      		<p style="color:black;font-size:12pt">Please check your E-Mail.</p>
	      	</div>
	      	<div class="w3-panel w3-red" th:if="${param.notfound}">
	      		<p style="color:black;font-size:12pt">No such Email exists.</p>
	      	</div>
      	</div>
    </form>
    
    <!--  
    	New Password page
    -->
    
	<form th:if="${currentPage == 'newPassword'}" th:action="@{/newPassword}" method="post" class="w3-container w3-section w3-center w3-card w3-white w3-mobile" style="margin:auto;width:400px">
		<div style="padding : 20px;">
			<h2>Reset Password</h2>
			<hr>
	      	<input class="w3-input" type="email" placeholder="Email Address" th:value="${userEmail}" required disabled="disabled">
	      	<input name="email" type="hidden" th:value="${userEmail}" required="required">
	      	<br>
	      	<input name="password" class="w3-input" type="password" placeholder="Password" pattern=".{3,15}" title="* Three or more characters. * Not more than 15 characters allowed." required>
	      	<br>
	      	<input class="w3-input w3-button w3-border w3-border-red" type="submit" value="Submit">
	      	
	      	<div class="w3-panel w3-green" th:if="${param.success}">
	      		<p style="color:black;font-size:12pt">Password changed Successfully.<br><a href="login" class="w3-text-blue">Please Login</a></p>
	      	</div>
	      	<div class="w3-panel w3-red" th:if="${param.unsuccess}">
	      		<p style="color:black;font-size:12pt">Couldn't change password.</p>
	      	</div>
      	</div>
    </form>
    
</body>
</html>