<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<span th:replace="includes :: links"></span>
	
	<title>Sign Up</title>
</head>

<body>

	<span th:replace="includes :: trans"></span>

	<main>
	
    <span th:replace="includes :: header"></span>
		<div class="container-fluid">
					
			<!--  
		    	Register page
		    -->
			<section class="border border-light rounded bg-light form-size text-dark mx-auto p-lg-5 p-4 mt-4 anim-fadeUp">
				
				<p class="h3 mb-5 text-center text-primary">Register</p>
				
				<form th:action="@{/register}" th:object="${registerDetails}" method="post">
				
					<input name="email" th:field="*{email}" class="form-control mb-4" type="email" placeholder="Email Address" required autofocus>
							
					<input name="username" th:field="*{username}" class="form-control mb-4" type="text" placeholder="Username" pattern="[a-zA-Z0-9]{4,14}" title="* Only alphabates (a-z) & digits (0-9) are allowed. * Min 4 & Max 14 characters only." required>
													
					<input name="password" th:field="*{password}" class="form-control mb-4" type="password" placeholder="Password" pattern=".{3,15}" title="* Three or more characters. * Not more than 15 characters allowed." required>
								      	
			      	<div class="text-center mb-4" th:if="${param.success}">
			      		<p class="alert alert-success">Registered Successfully</p>
			      	</div>
			      	<div class="text-center mb-4" th:if="${param.userexists}">	
			      		<p class="alert alert-warning">Username already exists, use another.</p>
			      	</div>
			      	<div class="text-center mb-4" th:if="${param.emailexists}">	
			      		<p class="alert alert-warning">Account exists for your E-mail, please try to login.</p>
			      	</div>
				
				    <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
				    
				</form>
			</section>
		</div>
		
	</main>
</body>
</html>