<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/basic.css}">
	<link rel="stylesheet" th:href="@{/css/w3.css}">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu|Oxygen|Lobster&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<title th:if="${currentPage == 'account'}">Account</title>
	<title th:if="${currentPage == 'resetPassword'}">Reset Password</title>

</head>

<body class="w3-oxygen">
	
	<span th:replace="includes :: header"></span>
	
	<div th:if="${currentPage == 'account'}" class="w3-container w3-section w3-card w3-white w3-round w3-mobile" style="margin:auto; width:400px; padding : 20px;">
		
		<h2 class="w3-center">Account</h2>
		<hr>
      	
      	<h5 class="w3-text-grey">Username</h5>
      	<h4 th:text="${user.username}"></h4>
      	<hr>
      	
      	<h5 class="w3-text-grey">Email</h5>
      	<h4 th:text="${user.email}"></h4>
      	<hr>
      	
      	<input class="w3-input w3-button w3-border w3-border-red w3-round" type="button" value="Change Password" onclick="location.href='/user/account/resetPassword'">
      	
   	</div>
   	
   	<form th:if="${currentPage == 'resetPassword'}" th:action="@{/user/account/resetPassword}" method="post" class="w3-container w3-section w3-center w3-card w3-white w3-round w3-mobile" style="margin:auto;width:400px">
		<div style="padding : 20px;">
			<h2>Reset Password</h2>
			<hr>
	      	<input class="w3-input w3-round" type="email" placeholder="Email Address" th:value="${email}" required disabled="disabled">
	      	
	      	<br>
	      	<input name="password" class="w3-input w3-round" type="password" placeholder="Password" pattern=".{3,15}" title="* Three or more characters. * Not more than 15 characters allowed." required>
	      	<br>
	      	<input class="w3-input w3-button w3-border w3-border-red w3-round" type="submit" value="Submit">
	      	
	      	<br>
	      	<a href="." class="w3-left"><i class="fa fa-arrow-left"></i> Back</a>
	      	<br>
	      	
	      	<div class="w3-panel w3-green" th:if="${param.success}">
	      		<p>Password changed Successfully.<br><a href="/login" class="w3-text-white"><u>Please Login</u></a></p>
	      	</div>
	      	<div class="w3-panel w3-red" th:if="${param.failed}">
	      		<p style="color:black;font-size:12pt">Couldn't change password.</p>
	      	</div>
      	</div>
    </form>
    
</body>
</html>