<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" th:href="@{/css/basic.css}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu|Oxygen|Lobster&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<title>User Details</title>	

</head>

<body class="w3-oxygen">

	<span th:replace="includes :: header"></span>
	
	<form action="updateRole" method="post" class="w3-container w3-section w3-card-4 w3-round-large w3-xlarge w3-white w3-mobile" style="margin:auto;width:400px">
		<table style="padding: 20px">
			<tr>
				<td class="fa fa-user"></td>
				<td>&nbsp;[[${user.username}]]</td>
			</tr>
			<tr>
				<td class="fa fa-envelope"></td>
				<td>&nbsp;[[${user.email}]]</td>
			</tr>
			<tr>
				<td class="fa fa-key"></td>
				<td><input type="radio" name="role" value="1">SUPER_USER <br><input type="radio" name="role" value="2">SITE_ADMIN <br><input type="radio" name="role" value="3">SITE_USER</td>
			</tr>
			<tr>
				<td><input type="hidden" th:value="${user.id}" th:name="id"></td>
				<td><input type="submit" class="w-input w3-button w3-border w3-border-teal" value="Update Role" style="width:100%"></td>
			</tr>
		</table>
	</form>
	
</body>
</html>